* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: ghostwhite;
}

nav {
    font-size: 1.25rem;
}

a {
    color: midnightblue;
}

header h1 > a {
    font-family: Bangers;
    font-size: 3.5rem;
    text-decoration: none;
    display: inline-block;
    transform: rotate(-4deg);
    text-shadow:
        -3px -3px 3px #000,
        3px -3px 3px #000,
        -3px  3px 3px #000,
        3px  3px 3px #000;
    color: orange;
}

.content-wrapper {
    max-width: 750px;
    margin: 0 auto;
    padding: 1rem;
}

img {
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
}

blockquote {
    border-left: 5px solid var(--color-border-dark);
    padding: 1rem;
    margin: 0;
}

blockquote p {
    margin: 0;
}

.tags {
    color: lightslategrey;
    font-size: 0.9rem;
}