:root {
    --color-light-background: ghostwhite;
    --color-light-accent: orangered;
    --color-light-text: #333;
    --color-dark-background: #222;
    --color-dark-accent: violet;
    --color-dark-text: ghostwhite;
    color-scheme: light dark;
    font-family: 'Courier New', Courier, monospace;
}

@media (prefers-color-scheme: light) {
    html {
        background-color: var(--color-light-background);
        color: var(--color-light-text);
    }

    a {
        color: var(--color-light-accent);
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: var(--color-dark-background);
        color: var(--color-dark-text);
    }

    a {
        color: var(--color-dark-accent);
    }
}

body {
  font-family: System UI;
  font-size: 1.25rem;
  line-height: 1.5;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

main {
  max-width: min(70ch, 100% - 4rem);
  margin-inline: auto;
}

article {
    margin-top: 2rem;
}

.tags {
    font-size: .75rem;
    opacity: .5;
}

header h1 a {
    text-decoration: none;
}